:root{
    --fontmain: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    --heightsitetitle:5vh;
    --heightnavbar:5vh;
    --heightcontentbox:85%  /*85vh;*/
    --heightfooter:5vh;

    --widthContentList:30%;
    --widthContentDetail:65%;

    --fbContentList:3;
    --fbContentDetail:7;

    --colorbgHTML:rgb(250,255,250);
    --colorborderdiv:rgb(220, 220, 220);
    --colorbgmenuitem:rgb(21, 136, 88);
    --colorfgmenuitem:white;
    --colorbgmenuitemselected:rgb(250,255,250);
    --colorfgmenuitemselected:black;
}

html {
    background-color: var(--colorbgHTML);
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    /* font-family:var(--fontmain); */
}

#SiteTitle{
    height:var(--heightsitetitle);
    /* border:1px solid var(--colorborderdiv); */
}

#NavBar{
    height:var(--heightnavbar);
    border:1px solid var(--colorborderdiv);
    
    display:flex;
    justify-content: space-around;
    align-items: center;
    /* align-content: stretch; */
}

.MenuItem{
    border-left:1px solid var(--colorborderdiv);
    flex-grow: 1;
    

    text-align: center;
    /* overflow: hidden; */
    position: relative;
    height:100%;
    padding-top:.5%;
    background-color: var(--colorbgmenuitem);
    color:var(--colorfgmenuitem);
}

.MenuItemSelected{
    border:1px solid var(--colorborderdiv);
    flex-grow: 1;
    
    text-align: center;
    font-style: italic;

    /* overflow: hidden; */
    position: relative;
    background-color: var(--colorbgmenuitemselected);
    color:var(--colorfgmenuitemselected);

    height:100%;
}

.MenuItem:hover{
    /* cursor: pointer;
    font-style: italic;
    background-color: lightgray;
    color:white; */


    border:1px solid var(--colorborderdiv);
    flex-grow: 1;
    
    text-align: center;
    font-style: italic;

    /* overflow: hidden; */
    position: relative;
    background-color: var(--colorbgmenuitemselected);
    color:var(--colorfgmenuitemselected);

    height:100%;
}

.MenuResourcesDropDown{
    border: 1px solid gray;
    position: absolute;
    width:100%;
    top:0;
    text-align: left;
    display:none;
    margin-top:var(--heightnavbar);
    z-index: 2;
    background-color: white;
    
}

.MenuResourcesItem{
    color:black;
    margin:5%;
    padding:5%;
}

#MenuResources:hover .MenuResourcesDropDown{
    /* background-color: rgb(220, 220, 220); */
    display: block;
    
}






/* ContentBOx is a column flex of ContentList and ContentDetail */
#ContentBox{
    height: var(--heightcontentbox);
    display: flex;
    flex-direction: row;
    overflow: auto;
    /* border:1px solid var(--colorborderdiv); */
}

#ContentList{
    width: var(--widthContentList);
    /* flex-grow: var(--fbContentList); */
    border-right:1px solid var(--colorborderdiv);
}

#ContentDetail{
    width: var(--widthContentDetail);
    text-align: center;
    margin:2% auto;
    /* flex-grow: var(--fbContentDetail); */
    /* border:1px solid var(--colorborderdiv); */
}

#Footer{
    box-sizing: border-box;
    
    width:100%;
    height: var(--heightfooter);
    border:1px solid var(--colorborderdiv);
    text-align: right;
    font-size: smaller;
    
    position:fixed;
    bottom:0;
    left:0;
    z-index: 10;
}