#home_container{
    box-sizing: border-box;
    display:flex;
    flex-direction:row;
    align-items: stretch;
    justify-content: space-between;
    /*background:darkslategray;*/
    margin:10px --leftmargin;
    /*padding:10px;*/
}

#home_nav{
    box-sizing: border-box;
    font-size:25px;
    flex-basis:20%;
    /*padding:0 20px;*/
    padding:auto;
    list-style:none;
}

#home_nav ul{
    display:flex;
    flex-direction: column;
    align-items: stretch;
    justify-items: stretch;
    padding:0;
}

#home_nav ul li{
    background-color: lightsteelblue;
    box-sizing: border-box;
    text-align: center;
    list-style-type: none;
    padding: 20px;
    /*margin-top:10px;*/
    margin-bottom:10px;
    /*font-size:20px;*/
    border-width: 1px;
    border-style:solid;
}

#home_dboard{
    box-sizing: border-box;
    flex-basis:80%;
    /*background-color:seagreen; */
    color:white;
    text-align: center;
    display:flex;
    flex-direction: column;
    align-items:stretch;
    justify-items:stretch;
    margin-left:10px;
}

.home_dboard_item{
    box-sizing:border-box;
    flex:1;
    /*background-color:seagreen;*/
    color:black;
    border-style:solid;
    border-color:black;
    border-collapse: collapse;
    border-width: 1px;
    margin-top:5px;
}

#home_footer{
    clear: both;
}
