.vas_navbar{
    display:flex;
    flex-direction: column;
    align-items: stretch;
    justify-items: stretch;
    padding:0;
}

.navbar_fnc{
    box-sizing: border-box;
    width:80%;
    margin:2% auto;
    padding:2%;
    
    text-align: center;
    list-style-type: none;
    border-width: 1px;
    border-style:solid;
}

.navbar_fnc:hover{
    cursor:pointer;
}

.dashboard{
    box-sizing: border-box;
    flex-basis:80%;
    /*background-color:seagreen; */
    color:white;
    text-align: center;
    display:flex;
    flex-direction: column;
    align-items:stretch;
    justify-items:stretch;
    margin-left:10px;
}

.dashboard_item{
    box-sizing:border-box;
    flex:1;
    /*background-color:seagreen;*/
    color:black;
    border-style:solid;
    border-color:black;
    border-collapse: collapse;
    border-width: 1px;
    margin-top:5px;
    text-align:center;
}

.dashboard_fnc:hover{
    cursor:pointer;
}
