#systemsvg{
    width:80%;
    margin: 0 auto;
}

#tasklist{
    width:80%; 
    margin:0 auto; 
    box-shadow: 0 0 2px gray;
}

#tasklist th{
    background-color:black;
    color:white;
}
 
#tasklist tr:nth-child(odd){
    background-color:white;
}

#tasklist tr:nth-child(even){
    background-color:#EEE;
}
