:root{
    --heightmaintitle:8vh;
    --heightptmain:90vh;
    --colortableheaderbg:rgb(250,250,250);
    --transitionperiod:200ms ease-in;
}

*{
    box-sizing: border-box;
}

html{
    scroll-behavior: smooth;
    overflow: hidden;
}

    
a{
    text-decoration: none;
    color:white;
    width: 100%;
}

table{
    width:95%;
    border-collapse: collapse;
}


table thead tr td{
    text-align: center;
    background-color: var(--colortableheaderbg);
    border:1px solid lightgray;
    min-width: 2em;
}

img{
    width:100%;
}

td, th{
    padding:.3em;
    border:1px solid lightgray;

}

#maintitle{
    height:var(--heightmaintitle);
}

/* <!-- pt_main is a row flex with pt_content and pt_body --> */
#pt_main{
    display: flex;
    height:var(--heightptmain);
}

#pt_content{
    transition: var(--transitionperiod);
    transition-timing-function: ease-out;
    flex:.5;
    background-color: darkblue;
    color:white;
    opacity: .7;
    padding:1em;
    display: inline-flex;
    flex-direction: column;
    justify-content:start;
    align-items: flex-start;
    position: static;
    top:0;
    overflow: auto;
    height:var(--heightptmain);
}

#pt_content:hover{
    flex:2;
}

#contentloadbuttondiv{
    width:100%;
    padding:1em;
    /* margin:2%; */
    border:1px solid white;
}

#contentloadbuttondiv input{
    margin:6% 0 2% 0;
}

#btnloadcontent{
    width: 100%;
    padding: 1em;
    margin:5% 0 2% 0;
}

#btnprintdoc{
    width: 100%;
    padding: 1em;
    margin:5% 0 5% 0;
}

#iptloadcontent{
    display: none;
}

.contentmain{
    width: 95%;
    margin:1em 0 0 0;
    color:white;
    display: flex;
    flex-direction: column;
    justify-content: end;
}

.contentsub{
    text-align: right;
    color:white;
    margin:.5em 0 .5em 0;
}


#pt_body{
    font-size: 1em;
    flex:9;
    /* border:1px solid lightgray; */
    scroll-behavior: smooth;
    width:100%;
    height:var(--heightptmain);
    margin-right:5px;
    overflow: auto;
    border-top:1px solid lightgray;
}


.mainsection{
    margin:5% 0 3% 1%;
}

.subsection1{
    margin: 3% 0 3% 3%;
}

@media print{
    *{
        color:black;
    }

    a{
        color:black;
    }

    #btnprintdoc{
        display: none;
    }

    #contentloadbuttondiv{
        display: none;
    }

    #maintitle{
        color:black;
        font-size: 1em;
        /* display:none; */
        display:  inline-flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        /* height:100%; */
        text-align: center;
        margin-top:33%;
    }

    #maintitle span{
        color:black;
    }

    #pt_main{
        display:block;
    }

    
    #pt_body{
        /* height:100%; */
        overflow:none;
        height:auto;
    }
}

/* 
let tdcell = datarow.insertCell();

let idxopening = cellstring.indexOf("(cs:");
let colspanx = '-';
for (i = idxopening; i < cellstring.length; i++) {
    if (cellstring[i] == ":") {
        colspanx = '';
    } else if (cellstring[i] == ')') {
        break;
    } else if (colspanx == '') {
        colspanx += cellstring[i];
    }
}
tdcell.colSpan = colspanx;

cellstring = cellstring.replace("(cs:" + colspanx + ")", "");
tdcell.innerHTML = convertcomma(cellstring);

colspan = parseInt(colspanx);
adjustedcolnum = colnum - colspan;
colspan--; */
