#main{
    display:flex;
    background-color:black;
}

#navbar{
    flex-grow: 3;
    background-color: grey;
}

#content{
    flex-grow:7;
    background-color: lightgrey;
}

#reporttable{
    width:100%;
    border: 1px solid blue;
    background-color:white;
    table-layout: fixed;
    
    /* border-collapse: collapse;
    border-style: solid; */
    /*padding:2px; */
}

#reporttable th{
    background-color:black;
    color:white;
}

/* #reporttable tr:nth-child(odd){
    background-color:white;
}

#reporttable tr:nth-child(even){
    background-color:lightgrey;
} */

.reporttablerowtitle{
    background-color:white;
    color:black;
    overflow:hidden;
}

.reporttablerowdata{
    background-color:white;
    border:gray solid 1px;
    overflow:hidden;
}

.reporttablerowtotal{
    background-color:lightgray;
    overflow:hidden;
}

.reporttablerowblank{
    /* background-color:black; */
}