header{
    height:10%;
    display:flex;
    background-color:black;
    color:white;
    font-size:1.5em;
    padding:1%;
}

.navdiffitem{
    width:80%;
    color:darkgreen;
    margin:2% auto;
    display:flex;
}

.navdiffitem svg{
    flex-basis:40%;
    background-color:yellow;
    box-shadow: 0 0 2px green;
}

.navdiffitem svg:hover{
    cursor:pointer;
}

.navdiffitem div{
    flex-basis:60%;
    font-size:1.3em;
    font-style:italic;
    text-align:center;
    align-self: center;
}

#main_content{
    display:flex;
}

#main_content nav{
    flex-basis:40%;
    box-shadow:0 0 2px gray;
    flex-shrink: 0;
}

#illustration{
    flex-basis:60%;
    box-shadow:0 0 2px gray;
    display:flex;
    flex-direction:column;
}

#illust_writeup{
    width:90%;
    margin:2% auto;
}

#illust_imgcont{
    width:90%;
    margin:2% auto;
}

#illust_imgcont img{
    width:100%;
    object-fit: contain;
}

